.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 4rem;
    
    @mixin atSmall {
        font-size: 3.75rem;
        margin-bottom: 3rem;
    }
    
    strong {
        font-weight: 500;
    }
    
    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;
        
        @mixin atSmall {
            margin-right: .5rem;
            margin-left: auto;
            margin-bottom: 0;
            display: inline-block;
        }
    }
}